body {
    margin: 0px;
    background: url(/static/css/images/bg3.png);
    font-family: "Trebuchet MS";
    background-attachment: fixed;

}

div {
    border: 0px solid black;

}

#page {

    width: 960px;
    margin: 0px auto;

}

.block {
    margin-bottom: 10px;
}

#head {
    display: inline-block;
    height: 110px;
    width: 100%;
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
}

#logo {
    display: inline;
    float: left;
    padding: 20px 40px;
}

#cntcts {
    color: #6e6d6c;
    display: inline;
    float: right;
    padding: 21px 40px;
    font-size: 24px;
    line-height: 1.5;
}

#nav {
    margin-left: 190px;
}

.nav  > a {
    text-decoration: none;
    color: #ffffff;
}

.nav  > a:hover {
    text-decoration: underline;
}

.nav {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

#nav_activ {
    display: inline-block;
    background: #ffffff;
    color: #006600;
    border-radius: 10px;
    padding: 3px 15px;
    margin-right: -10px;
}

.ssh {
    width: 100%;
    height: 295px;
    border-radius: 15px;
}

#ctlg {
    background: #ffffff;
    border-radius: 15px;
    margin-top: 10px;
}

#txt_ctlg {
    padding: 30px 40px;
    display: inline-block;
    width: 100%;
    font-family: "Trebuchet MS";
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.col_ctlg {
    display: inline-block;
    margin: 0px 0px 30px 65px;
}

.lnk_ctlg {
    display: block;
    color: #006699;
    font-size: 18px;
    line-height: 1.2;
}

.img_ctlg {
    display: block;
    margin-top: 40px;
}

#ftr {
    border-radius: 15px 15px 0px 0px;
    height: 85px;
    background: #003300;
    margin-bottom: 0px;
}

#txt_ftr {
    display: inline-block;
    float: left;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    margin: 10px auto auto 40px;
}

#txt_ftr  > a {
    color: white;
}

#nav_ftr {
    display: inline-block;
    float: right;
    margin: 10px 40px auto auto;
}

.nav_ftr {
    display: inline-block;
    font-size: 16px;
}

.nav_ftr  > a {
    color: white;
}

.nav_ftr::after {
    content: "|";
    color: #ffffff;
    margin-left: 5px;
}

.nav_ftr:last-of-type:after{
    content: "";
}